@import url('https://fonts.googleapis.com/css2?family=Bitcount+Prop+Single:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

h1{
    text-align: center;
    font-size: 50px;
    background-color: silver;
    border-radius: 10px;
}
h2{
    text-align: center;
    font-size: 15px;
    font-style: italic;
    background-color: rgb(225, 221, 221);
    border-radius: 10px;
}
img {
    width: 40%;
    height: 350px;
    float: left;
    display: block;
    align-items: left;
    margin-left: 40px;
    margin-top: 20px;
    border-radius: 10px;}

 p{ text-align: center;
    font-size: 25px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 350px;
    font-family: "Bitcount Prop Single", system-ui;  
    }

.bitcount-prop-single-<uniquifier> {
  font-family: "Bitcount Prop Single", system-ui;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "CRSV" 0.5,
    "ELSH" 0,
    "ELXP" 0;  
}

